/*Body*/
*{
margin: 0;
padding:0;
font-family: Raleway;
}
.bodyContainer{
box-sizing: border-box; /*sets how the total width and height is calculated*/
font-family: 'Raleway', sans-serif;
width: 100vw;
margin-left: 0; /*evenly distributed*/
margin-right: 0; /*evenly distributed*/
height: auto; /*adjust height*/
padding-left: 30px;
padding-right: 30px;
display: grid;
grid-template-columns: 70% 30%; /*Columns width*/
grid-template-rows: repeat(5,0.1fr); /*repeated fragment for recurring pattern*/
grid-template-areas: /*names columns and rows*/
    "header header"
    "leading leading"
    "accommodations mostPopular"
    "activities activities"
    "footer footer";
grid-gap: .5rem;        
}
a{
text-decoration: none;
color: inherit;
}
.stars{
display: flex;
flex-direction: row;
color: #0065FC;
}
.empty{
color: #e2e1e1;
}
/*Header*/
header{
grid-area: header;
height: 100px;
}
/*Logo*/
.logo{
float: left;
margin-top: 60px;
width: fit-content;
}
/*Navigation List*/
.navList{
display: flex;
flex-direction: row;
justify-content: flex-end;
}
.navList ul{
display: flex;
flex-direction: row;
flex-wrap: wrap; /*onto multiple lines*/
}
.navList ul li{
list-style-type: none;
padding: 50px 20px;
margin: 0;
font-size: 15px;
}
.navLink[data-active=true], .navLink:hover{
padding: 48px 20px;
color:#0065FC;
border-top: 2px solid #0065FC;
font-weight: 700;
}
/*signIn*/
.signIn_1{
color:#0065FC;
font-weight: 700;
}
.signIn_2{
display: none;
}
/*Main*/
/*Leading*/
.leading{
grid-area: leading;
display: flex;
flex-direction: column;
}
/*Title*/
.title{
display: flex;
flex-direction:column;
height: fit-content;
line-height: 1.7;
margin-top: 25px;
}
.title_1{
font-weight: 700;
font-size: 20px;
}
.subTitle_1{
font-weight: 100;
font-size: 15px;
}
/*Search*/
.search{
width: auto;
height: 45px;
display: flex;
flex-direction: row;
margin-top: 8px;
}    
.searchInput{
width: 200px;
font-size: 15px;
padding: 10px;
border: 1px solid #ececec;
outline: none;
}
::placeholder{
font-weight: 700;
color: #000;
}
.searchBtn{
background-color:  #0065FC;
font-size: 15px;
padding: 10px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
margin: 0 -10px;
border: none; /*remove default button border*/
color: #fff;
cursor: pointer;
outline: none;
}
.searchIcon_1{
background-color: #F2F2F2;
text-align: center;
width: 25px;
padding: 12px;
border: 1px solid #ececec;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
color: #000;
}
i.searchIcon_2{
display: none;
}
/*Filters*/
.filterContainers{
margin: 25px 0 20px;
display: inline-flex;
flex-direction: row;
flex-wrap: wrap;
gap: 10px;
}
.filterLabel{
margin: auto 10px;
}
.filterBtn{
border: 1px solid #ddd;
border-radius: 40px;
background-color: #fff;
margin: 0 12px;
outline: none;
}
.filterBtn:hover{
box-shadow: 0 5px 5px 0 #DEEBFF,0 7px 7px 0 #DEEBFF;
cursor: pointer;
}
.filterElement{
display: flex;
flex-direction: row;
border: 1px solid #ddd;
border-radius: 40px;
height: 40px;
line-height: 40px;
}
.filterIcon{
text-align: center;
background-color:#DEEBFF;
color: #0065FC;
border-radius: 40px;
width: 40px;
}
.filterLegend{
color:#000;
font-size: medium;
font-weight: 700;
padding: 0 10px;
}
/*Info*/
.info{
display: flex;
align-items: center;
}
.infoIcon{
display: inline-block;
text-align: center;
background-color:#fff;
color: #0065FC;
border: 2px solid #DEEBFF;
border-radius: 20px;
height: 20px;
width: 20px;
padding: 5px;
}  
.infoLegend{
display: inline-block;
width: fit-content;
margin: 15px;
}
/*Accomodation*/
.accommodations{
grid-area: accommodations;
width: 97%;
height: 725px;
background-color:#ececec;
border-radius: 20px;
}
/*Title*/
.titleSection{
display: inline-block;
font-weight: 700;
margin: 30px 0 5px 30px;
}
.titleAc{
margin: 18px 0 0 30px;
}
/*Hosting Container*/
.hostingContainer{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
row-gap: 20px;
margin: 20px 10px 20px 15px;
padding-right: 30px;
padding-left: 30px;
}
.hostingElement{
width: 300px;
height: 230px;
background-color: #fff;
border-radius: 20px;
box-shadow: 0 3px 12px 0 #888, 0 3px 12px 0 #999;
margin: 10px 0;
}
.hostingElement:hover{
box-shadow: 0 12px 16px 0 #888,0 17px 50px 0 #888;
}
.hostingElement img{
width: 97%;
height: 150px;
display:block;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
padding-top: 4px;
margin: auto;
object-fit: cover;
}
.hosting-1{
display: flex;
flex-direction: column;
height: 5em;
padding: 10px 16px 0 16px;
}
.hosting-1 h4{
padding-bottom: 5px;
}
.hosting-1 p{
font-size: 14px;
}
.hosting-1 .stars{
font-size: 13px;
padding-top: 8px;
}
.more{
margin: 60px 0 10px 55px;
}
/*Most Popular*/
.mostPopular{
grid-area: mostPopular;
background-color:#ececec;
width: 100%;
height: 725px;
border-radius: 20px;
display: flex;
flex-direction: column;
}
/*Title*/
.titleMP{
display: flex;
flex-direction: row;
align-items: baseline;
justify-content: space-between;
width: 85%;
font-weight: 700;
margin-bottom: 20px;
}
/*mostPopular Container*/
.hostingMPContainer{
display: flex;
flex-direction: column;
justify-content: center;
}
.hostingMP{
width: 80%;
height: 160px;
background-color: #fff;
display: flex;
flex-direction: row;
border-radius: 20px;
box-shadow: 0 3px 12px 0 #888, 0 3px 12px 0 #999;
border:#fff solid 3px;
margin: 20px 25px 20px 50px;
}
.hostingMP:hover{
box-shadow: 0 12px 16px 0 #888,0 17px 50px 0 #888;
cursor: pointer;
}
.hostingMP img{
width: 40%;
height: 100%;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
object-fit: cover;
}
.hosting-2{
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 5px 13px;
}
.hosting-2 p{
font-size: 14px;
}
.hosting-2 .stars{
font-size: 13px;
}
/*Activities*/
.activities{
background-color: #fff;
width: 100%;
height:765px;
border-radius: 20px;
grid-area: activities;
}
/*Title*/
.titleActivities{
margin: 15px 0 22px 20px;
font-weight: 700;
}
/*Activities Container*/
.activitiesContainer{
display: grid;
height: 654px;
grid-template-columns: repeat(4,25%);
grid-template-rows: 1fr 1fr;
grid-template-areas: 
"type-1 type-2 type-4 type-5"
"type-1 type-3 type-4 type-6"  
}
.activity_1{
background-color: #fff;
height: 630px;
border-radius: 20px;
box-shadow: 0 12px 16px #888, 0 3px 12px 0 #999;
margin: 0 20px;
}
.activity_1:hover{
box-shadow: 0 12px 16px 0 #888,0 17px 50px 0 #888;
}
.activity_1 a img{
width: 100%;
height: 570px;
border-top-right-radius: 20px;
border-top-left-radius: 20px;
object-fit: cover;
}
.activity_2{
background-color: #fff;
height: 300px;
border-radius: 20px;
box-shadow: 0 12px 16px #888, 0 3px 12px 0 #999;
margin: 0 20px;
}
.activity_2:hover{
box-shadow: 0 12px 16px 0 #888,0 17px 50px 0 #888;
}
.activity_2 img{
width: 100%;
height: 245px;
border-top-right-radius: 20px;
border-top-left-radius: 20px;
object-fit: cover;
}
.type-1{
grid-area: type-1;
}
.type-2{
grid-area: type-2;
}
.type-3{
grid-area: type-3;
}
.type-4{
grid-area: type-4;
}
.type-5{
grid-area: type-5;
}
.type-6{
grid-area: type-6;
}
.activityLegend{
padding: 15px 16px 10px 25px;
}
/*Footer*/
footer{
grid-area: footer;
width: 100vw;
margin-left: -47px;
background-color: #ececec;
height: fit-content;
display: flex;
flex-direction: row;
}
.footerContainer{
width: 30%;
margin: 35px;
margin-left: 90px;
line-height: 2;
}
.footerLinks {
list-style: none;
width: fit-content;
}
.footerLinks:hover{
cursor: pointer;
color: #0065FC;
font-weight: 700;
}
/*Responsive Smartphone & Tablet Portrait*/
@media only screen and (min-width: 375px) and (max-width: 768px){ /*Header & Leading*/
.bodyContainer{
display: flex;
flex-direction: column;
width: 100vw;
padding-right: 20px;
padding-left: 20px;
}
header{
order: 1;
height: fit-content;
width: 100vw;
margin-left: -20px;
}
.logo_SignIn_2-Container{
display: flex;
flex-direction: row;
}
.logo{
display: inline;
justify-content: center;
width: 50%;
margin-left: 15px;
margin-top: 30px;
}
.signIn_1{
display: none;
}
.signIn_2{
display: inline-flex;
justify-content: flex-end;
width: 40%;
color: #0065FC;
font-weight: 900;
margin-top: 45px;
} 
nav{
margin: 0;
width: 100vw;
}
.navList{
justify-content: center;
}
.navList ul{
display: flex;
flex-wrap: nowrap;
width: 100vw;
}
.navList ul li{
font-size: 15px;
padding: 0;
padding: 25px 0 15px 0;
}
.liNone{
display: none;
}
.navLink[data-active=true], .navLink:hover{
border-top: none;
border-bottom-color:#0065FC;
border-bottom-style: solid;
color:#0065FC;  
padding: 25px 0 15px 0;
}
.navLink_1{
text-align: center;
font-size: 14px;   
width: 50%;
}
.navLink_2{
text-align: center;
border-bottom-color: #ddd;
border-bottom-style: solid;
width: 50%;
margin: 10px;
font-size: 14px;
}
.leading{
order: 2;
}
.title{
line-height: 1.3;
margin-bottom: 22px;
}
.title_1{
font-size: 23px;
margin-bottom: 20px;
}
.subTitle_1{
font-size: 16px;
}
.search{
display: flex;
justify-content: flex-start;
width: 100%;
margin-left: -8px;
}
.searchInput{
width: fit-content;
font-size: 17px;
}
.searchBtn{
border-radius: 10px;
padding: 2px;
display: flex;
align-items: center;
justify-content: center;
}
.searchValue{
display: none;
}
i.searchIcon_2{
display: inline;
background-color:  #0065FC;
color: #fff;
outline: none;
font-size: 17px;
padding: 0 10px 0 15px;
border-radius:12px;
border: none;
height: initial;
width: 22px;
}   
.filter{
margin: 0;
}
.filterBtnContainer{
display: flex;
flex-wrap: wrap;
}
.filterBtn{
margin: 7px;
}
.infoIcon{
width: 10px;
height: 10px;
font-size: 10px;
margin-top: -20px;
margin-right: 5px;
}
.infoLegend{
margin: 0;
margin-left: 5px;
font-size: 15px;
}
}
@media only screen and (min-width: 375px) and (max-width: 768px){ /*Accomodations & Most Popular*/
.mostPopular{
order: 3;
border-radius: 0;
width: 100vw;
margin-left: -20px;
padding-bottom: 35px;
height: fit-content;
}
.fa-chart-line{
margin-right: -10px;
}
.hostingMPContainer{
align-items: center;
width: 100vw;
}
.hostingMP{
height: 130px;
width: 90%;
max-width: 600px;
margin: 5px 20px;
box-shadow: none;
}
.hostingMP img{
width: 40%;
margin-left: 1px;
height: 99%;
margin-top: 1px;
}
.hosting-2 h4{
font-size: 16px;
}
.hosting-2 p{
font-size: 14px;
margin-top: 8px;
}
.hosting-2 .stars{
padding-top: 45px;
font-size: 10px;
}
.accommodations{
order: 4;
margin: 0;
border-radius: 0;
width: 100vw;
margin-left: -20px;
height: fit-content;
background-color: #fff;
}
.titleSection{
font-weight: 700;
}
.titleAC{
padding-bottom: 20px;
}
.hostingContainer{
margin: 0;
padding-right: 0;
padding-left: 0;
}
.hostingElement{
margin: 0 20px;
width: 100%;
max-width: 600px;
height: 180px;
border-radius: 20px;
box-shadow: 0 3px 12px 0 #888, 0 3px 12px 0 #999;
}
.hostingElement img{
height: 55%;
width: 98%;
display:block;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
padding-top: 4px;
margin: auto;
object-fit: cover;
}
.hosting-1{
height: 10px;
padding: 5px 16px 0 16px;
line-height: 1.5;
}
.hosting-1 h4{
font-size: 16px;
}
.hosting-1 p{
font-size: 14px;
}
.hosting-1 .stars{
font-size: 10px;
padding-top: 5px;
}
.more{
margin-left: 20px;
}
}
@media only screen and (min-width: 375px) and (max-width: 768px){ /*Activities*/
.activities{
order: 5;
height: fit-content;
width: 100vw;
margin-left: -20px;
}
.activitiesContainer{
display: flex;
flex-direction: column;
align-items: center;
row-gap: 40px;
margin: 20px;
height: fit-content;
}
.activity_1, .activity_2{
height: 180px;
width: 100%;
max-width: 600px;
}
.activity_1 a img, .activity_2 img{
height: 130px;
}
.activityLegend{
font-size: 15px;
font-weight: 700;
}
}
@media only screen and (min-width: 375px) and (max-width: 425px){ /*Footer*/
footer{
order: 6; 
display: flex;
flex-direction: column;
width: 100vw;
height: auto;
margin: 50px 0 0 -22px;
padding-top: 20px;
padding-bottom: 35px;
}
.footerContainer{
width: fit-content;
margin: 0;
line-height: 2;
padding-left: 7%;
}
.footerContainer h3{
margin-top: 20px;
font-size: 15px;
}
.footerContainer ul{
font-size: 14px;
}
}
/*Responsive Tablet Landscape & Laptop*/
@media only screen and (min-width: 426px) and (max-width: 768px){ /*Title*/
.titleSection, .titleActivities{
margin-left: 85px;
}
.more{
margin-left: 85px;
}
}
@media only screen and (min-width: 769px) and (max-width: 1440px){ /*Accomodations & Most Popular*/
.accommodations{
height: 966px;;
}
.hostingContainer{
margin: 0;
}
.hostingElement{
width: 45%;
}
.mostPopular, .hostingMPContainer{
height: 966px;
}
.hostingMP{
height: 250px;
margin: 0;
margin-left: 10%;
margin-bottom: 12%;
flex-direction: column;
}
.hostingMP img{
height: 55%;
width: 100%;
border-radius: 0;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
}
.hosting-2 .stars{
padding-top: 5px;
}
.hosting-2{
padding: 15px 16px 0 16px;
line-height: 1.5;
}
}
@media only screen and (min-width: 769px) and (max-width: 1024px){ /*Activities*/
.activitiesContainer {
display: grid;
height: 654px;
grid-template-columns: repeat(3,33%);
grid-template-rows: 1fr 1fr;
grid-template-areas:
    "type-1 type-2 type-3"
    "type-4 type-5 type-6";
}
.activity_1{
height: 300px;
}
.activity_1 a img {
height: 245px;
}
}
@media only screen and (min-width: 426px) and (max-width: 768px){ /*Footer*/
footer{
order: 6; 
width: 100vw;
margin-left: -20px;
}
.footerContainer{
width: 33%;
height: fit-content;
margin: 35px 0 35px 40px;
}
.footerContainer h3{
margin-bottom: 20px;
}
}
/*Responsive 4K*/
@media only screen and (min-width: 1920px) and (max-width: 2560px){ /*Accomodations*/
.hostingElement{
width: 30%;
}
}
